// Fonts
$gilroy: "gilroy";
$gilroy-t: "gilroy-t";
$gilroy-l: "gilroy-l";
$gilroy-b: "gilroy-b";
$gilroy-sb: "gilroy-sb";
$gilroy-bl: "gilroy-bl";

//Colors
$blue: #3b4979;
$medium:#858585;
$brown: #463232;
$white: #ffffff;
$lightOrange: #fef6f0;
$lightBlack: rgb(14, 13, 13);
$blue: #265762;

//transition
$transition: all 0.3s linear;

//box-shadow
$box-shadow: rgb(81, 104, 129) 0px 20px 30px -10px;
$box2-shodow: #e9eff5 3px 10px 20px 0px;