@import "./variables";
@import "./font";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
body {
    scroll-behavior: smooth;
    font-size: 62.5%;
    height: 100vh;
}
#navbar-section {
    background: url('./../img/p12.jpg') no-repeat center center/cover;
    height: 100%;
}
.navbar-div-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    .style{
        font-size: 20px;
    }
    .style1{
        margin: 0 1rem;
        font-size: 15px;
    }
    .style2{
        margin: 0 .5rem;
    }
    .shopping-icon{
        display: inline;
        position: relative;
        width: 50%;
        .shopping-number{
            position: absolute;
            top: -16px;
            color: $white;
            background: $lightBlack;
            border-radius: 50%;
            padding: .2rem;
            margin-left: -.3rem;
        }
    }
}
.header-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    padding-bottom: 1rem;
    height: 15%;
}
.input-style{
    outline: none;
    border: none;
    padding-left: .8rem;
    font-size: 12px;
}
.style3-btn{
    padding: .6rem;
    margin: .5rem;
    background: $brown;
    border: none;
}
.style4{
    display: inline-block;
    background:$white;
    width: 80%;
}
.style5-btn{
    background: $brown;
    width: 50%;
    padding: .6rem 1rem;
    margin-top: 2rem;
    color: $white;
    border: none;
}
.input-style{
    width: 80%;
}
.header-div2{
    display: flex;
    flex-flow: wrap column;
    align-items: left;
    justify-content: left;
    font-size: 16px;
    padding-left: 5rem;
    margin: 2rem;
    width: 35%;
}
.header-div3{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-flow: wrap column;
    position: relative;
    height: 350px;
    width: 400px;
    bottom: 300px;
    left: 880px;
    margin-left: 1rem;
    h2{
        position: absolute;
        top: 170px;
        font-size: 20px;
    }
    p{
        position: absolute;
        top: 203px;
        font-size: 15px;
        width: 50%;
        color: $medium;
    }
    .style6-icons{
        position: absolute;
        top: 290px;
        left: 380px;
        i{
            margin: 1rem;
        }
    }
}
.main-section{
    background: $lightOrange;
    .style7 {
        text-align: center;
        font-size: 22px;
        padding: 2rem;
        color: $brown;
    }
    .style8-img{
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            margin-right: 3rem;
        }
        img:nth-child(6){
            padding-bottom: 1.1rem;
        }
        img:nth-child(5){
            padding-top: .2rem;
        }
    }
}
#main2-section{
    display: flex;
    .main2-div1{
        display: flex;
        flex-flow: wrap column;
        align-items: left;
        justify-content: left;
        margin: 7rem 5rem;
        width: 50%;
    }
    h2{
        font-size: 55px;
    }
    p{
        padding: 2rem 0;
        font-size: 20px;
        width:80%;
        color: $medium;
    }
    .main2-btn1{
        width: 40%;
        border: none;
        color: $white;
        background: $brown;
        margin-bottom: 3rem;
        padding: .6rem 1rem;
        box-shadow: $box-shadow;
    }
    .main2-div2{
        width: 50%;
        margin-top: 4rem;
        margin-right: 2rem;
    }
    .main2-btn2{
        width: 30%;
        padding: .6rem 0;
    }
}
.main3-div1{
    text-align: center;

h2{
    font-size: 55px;
}
p{
    margin-top: 1rem;
    font-size: 20px;
    color: $medium;
}
}
#main3-section{
    display: flex;
    .main3-div2 , .main3-div3 {
        width: 50%;
        margin: 4rem 5rem;
        color: $medium;
            .main3-h3{
                font-size: 30px;
                padding: 2rem 0;
                color: $lightBlack;
            }
            p{
                margin-bottom: 1rem;
                font-size: 20px;
            }
            .main3-btn1{
                padding: .5rem 2rem;
                margin-right: 1rem;
                border: none;
                color: $white;
                background: $brown;
                box-shadow: $box-shadow;
            }
            .main3-btn2{
                padding: .5rem 1.7rem;
            
                border: double 1px $brown;
            }
    }
    .main3-div2-1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.5rem;
        width: 90%;
        .style9-div{
            display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
            width: 30%;
            padding:  0 1rem ;
            .style11-p{
                border-bottom: double 2px $brown; 
                color: $blue;
            }
            .style10-p{
                font-size: 12px;
                color: $medium;
            }
        }
    }

}
#main4-section{
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    justify-content: center;
    background: $lightOrange;
        .style11-div{
            display: flex;
            flex-flow: wrap column;
            align-items: center;
            justify-content: center;
            padding: 1rem 4rem;
            font-size: 25px;
            border-right: solid 1px $brown;

            .style-h2-main4{
                color: $brown;
            }
            .style-p-main4{
                color: $medium;
            }
        }
        div:nth-child(3){
            border: none;
        }
}
#main5-section{
    display: flex;
    margin: 7rem 7rem;
    .position-img{

        position: relative;
        height: 500px;
        width: 50%;
        .position-img1{
            position: absolute;
        }
        .position-img2{
            position: absolute;
            top: -27px;
            left: 27px;
        }
    }
    .position-text{
        display: flex;
        flex-flow: wrap column;
        align-items: flex-start;
        justify-content: start;
        margin-left: 10rem;
        width: 50%;
        .style12-h2{
            font-size: 35px;
            width: 50%;
        }
        .style13-p{
            font-size: 17px;
            padding: 2rem 0;
            color: $medium;
        }
        button{
                padding: .5rem 2rem;
                margin: 3rem 0;
                border: none;
                color: $white;
                background: $brown;
                box-shadow: $box-shadow;
        }
    }

}
#main6-section{
    background:$lightOrange;
    height: 600px;
    
.main6-div1{
        display: flex;
        flex-flow: wrap column;
        align-items: center;
        justify-content: space-around;
        padding: 1rem 0;
    .style12-h2{
        font-size: 40px;
        }
    .style13-p{
        color: $medium;
    font-size:18px ;
}
}
.main6-div2{
        display: flex;
        flex-flow: wrap row;
        align-items: flex-end;
        justify-content: flex-end;
        margin-right:15rem ;
        margin-bottom: 3rem;
            i:nth-child(1){
                margin-right: 1rem;
            }
            }
.main6-div3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    .main6-div3-1{
        background: $white;
        margin: 1rem .5rem;
        width: 24%;
        .main6-div3-1-1 {
            margin: 1rem 2rem;
        }
    }
    .effect-div{
        box-shadow: $box2-shodow;
        }
    .style14-p {
        font-size: 15px;
        margin: 1rem;
        padding: 1rem;
    }
    .p1{
        color: $medium;
    }
    .main6-div3-2 {
        display: flex;
        width: 55%;
        align-items: center;
        justify-content: center;
        margin-left: 1rem;
        .style-p-main6{
            color: #858585;
            font-size: 11px;
        }
        .style-p1-main6{
            font-size: 12px;
        }
    }
    span {
        flex: 1;
    img {
        width: 50%;
        border-radius: 50%;
        display: block;
        margin: 2rem 1rem;
    }
}
}
}
#footer-main{
.footer-section{
    display: flex;
    margin: 4rem;
    p {
        padding-bottom: 1rem;
        font-size: 15px;
        color: $medium;
    }
    .footer-section1{
        flex: 3;
        .style-p-footer {
                width: 50%;
            font-size: 20px;
            color: $medium;
            }
            .style-div-footer{
                margin-top: 3rem;
                width: 50%;
            }
            .style-h3-footer{
                font-size: 20px;
                padding: 2rem 0;
            }
        }
        .footer-section2{
            flex: 1;
            font-size: 15px;
            .style-h-footer{
                font-size: 20px;
                padding:2rem 0;
            }
        }
}
hr {
    margin: 0 4rem;
}
.footer-section5{
    font-size: 17px;
    text-align: center;
    padding: 2rem;
    color: $medium;
}
}